link(rel="stylesheet", href="/css/sistema/home.css")
header#header_nav
        .contenedor_base
          .logo_nav
            a(href="/")
              img.logo-img(src="/img/Logo/Logo.png", alt="logo")
            .box_search
              form(action="index.html" method="post")
                .container-buscador
                  input.src.linedown(type="text" name="" placeholder="Buscar... " onkeydown="search()" onkeyup="search()" autocomplete="off" value="")
                  .i-close-btn
                    i.fas.fa-times.close-btn
                  input.search(type="submit" name="" value="")
          .nav_base
            ul.nav
              li
                a(href="#") Noticias
              li
                a(href="#") Ayuda
              li
                a(href="#") Convierte en BuZzer
              li
                a(href="/carrito") Guardados
              li
                a.btn-login(href="#!")
                  .user-account
                    img(src="/img/icons/usuario.png" alt="")
                // container
                .full-width.Login
                  ul
                    li.sub-menu
                      a.active(href="#") Cuenta
                      ul
                        li
                          a(href="#") Historial
                        li
                          a(href="/carrito") Guardados
                        li
                          a(href="#") Buscar
                        li
                          a(href="#") Mensajes
                        li
                          a(href="/post-service") Publicar
                    li.sub-menu
                      a(href="#") Ayuda
                      ul
                        li
                          a(href="#") Seguridad &amp; Servicio
                        li
                          a(href="#") Ayuda
                        li
                          a(href="#") Contactanos
                        li
                          a(href="#") Otros
                  hr.divider-user
                  p.text-center.username
                    | #{user.username}
                    span(aria-label="Activo(a) ahora" style="background: rgb(66, 183, 42); border-radius: 50%; display: inline-block; height: 8px; margin-left: 4px; width: 8px;")
                  a.img-user(href="#")
                    img(src="/img/icons/usuario.png" alt="")
                  hr.divider-user
                  a.log-out(href="/logout") Cerrar Sesi&oacute;n
                // fin container
          i.fa.fa-bars.visible-xs.btn-menuMobile.ShowMenuMobile(aria-hidden="true")
        nav#contenedor_nav
          .navegacion
            ul
              li
                a(href="/categorias/Diseño%20Grafico")
                  | Dise&ntilde;o Grafico
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Diseño%20Grafico/Photoshop")
                          img(src="/img/cat_scat/photoshop.png" alt="photoshop")
                          div.scat Photoshop
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Diseño%20Grafico/Diseño de Presentaciones")
                          img(src="/img/cat_scat/presentaciones.png.png" alt="photoshop")
                          div.scat Diseño de Presentaciones
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Diseño%20Grafico/Infografia")
                          img(src="/img/cat_scat/infografia.png.png" alt="photoshop")
                          div.scat Infografia
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Diseño%20Grafico/Trazado de vectores")
                          img(src="/img/cat_scat/vectore.png.png" alt="photoshop")
                          div.scat Trazado de vectores
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Diseño%20Grafico/Diseño Twitch")
                          img(src="/img/cat_scat/twitch.png.png" alt="photoshop")
                          div.scat Diseño Twitch
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Diseño%20Grafico/Diseño de juegos")
                          img(src="/img/cat_scat/juegos.jpg" alt="photoshop")
                          div.scat Diseño de juegos
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Diseño%20Grafico/Youtube Design")
                          img(src="/img/cat_scat/youtube.png.png" alt="photoshop")
                          div.scat Youtube Design
                          br
              li  
                a(href="/categorias/Asistente Virtual")
                  | Asistente Virtual
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Asistente Virtual/Administracion y Soporte")
                          img(src="/img/cat_scat/administracion.jpg.jpg" alt="photoshop")
                          div.scat Administracion y Soporte
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Asistente Virtual/Busqueda")
                          img(src="/img/cat_scat/busqueda.jpg" alt="photoshop")
                          div.scat Busqueda
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Asistente Virtual/Conversion de Archivos")
                          img(src="/img/cat_scat/conversion.png" alt="photoshop")
                          div.scat Conversion de Archivos
              li
                a(href="/categorias/Coach")
                  | Coach
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Coach/Salud y Bienestar")
                          img(src="/img/cat_scat/salud.png.png" alt="photoshop")
                          div.scat Salud y Bienestar
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Coach/Empresarial")
                          img(src="/img/cat_scat/empresarial.png.png" alt="photoshop")
                          div.scat Empresarial
              li
                a(href="/categorias/Gaming")
                  | Gaming
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Gaming/Diseño de Juegos")
                          img(src="/img/cat_scat/juegos1.jpg" alt="photoshop")
                          div.scat Diseño de Juegos
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Gaming/Graficos para Streamers")
                          img(src="/img/cat_scat/streamer.jpg" alt="photoshop")
                          div.scat Graficos para Streamers
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Gaming/Tienda de Twitch")
                          img(src="/img/cat_scat/tiendatwitch.png" alt="photoshop")
                          div.scat Tienda de Twitch
              li
                a(href="/categorias/Marketing Digital")
                  | Marketing Digital
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Marketing Digital/Redes Sociales")
                          img(src="/img/cat_scat/Redessociales.jpg" alt="photoshop")
                          div.scat Redes Sociales
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Marketing Digital/Analisis Web")
                          img(src="/img/cat_scat/analisisweb.png" alt="photoshop")
                          div.scat Analisis Web
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Marketing Digital/Promocion de Música")
                          img(src="/img/cat_scat/promocionmusica.png" alt="photoshop")
                          div.scat Promocion de Música
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Marketing Digital/E-Commerce")
                          img(src="/img/cat_scat/ecomerce.png" alt="photoshop")
                          div.scat E-Commerce
                          br
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Marketing Digital/Influencer")
                          img(src="/img/cat_scat/influencer.png.png" alt="photoshop")
                          div.scat Influencer
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Marketing Digital/Publicidad")
                          img(src="/img/cat_scat/pub.png" alt="photoshop")
                          div.scat Publicidad
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Marketing Digital/Relaciones Publicas")
                          img(src="/img/cat_scat/Relaciones publicas.png.png" alt="photoshop")
                          div.scat Relaciones Publicas
              li
                a(href="/categorias/Traduccion")
                  | Traduccion
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Traduccion/Libros y Textos")
                          img(src="/img/cat_scat/libros.png" alt="photoshop")
                          div.scat Libros y Textos
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Traduccion/Oratoria Social y Profesional")
                          img(src="/img/cat_scat/oratoria.png" alt="photoshop")
                          div.scat Oratoria Social y Profesional
              li
                a(href="/categorias/Video y Animación")
                  | Video y Animación
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Video y Animación/Animacion")
                          img(src="/img/cat_scat/animation.png" alt="photoshop")
                          div.scat Animación
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Video y Animación/Efectos Visuales")
                          img(src="/img/cat_scat/efect.png" alt="photoshop")
                          div.scat Efectos Visuales
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Video y Animación/Trailers")
                          img(src="/img/cat_scat/trailer.png" alt="photoshop")
                          div.scat Trailers
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Video y Animación/GIFs")
                          img(src="/img/cat_scat/gif.png" alt="photoshop")
                          div.scat GIFs
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Video y Animación/Videos musicales")
                          img(src="/img/cat_scat/vimus.png" alt="photoshop")
                          div.scat Videos musicales
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Video y Animación/Subtitulos")
                          img(src="/img/cat_scat/cc.png" alt="photoshop")
                          div.scat Subtitulos
                          br
              li
                a(href="/categorias/Musica y Audio")
                  | Musica y Audio
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/Cantantes y Vocalistas")
                          img(src="/img/cat_scat/mic.png" alt="photoshop")
                          div.scat Cantantes y Vocalistas
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/Sessiones Musicales")
                          img(src="/img/cat_scat/sesmu.jpg" alt="photoshop")
                          div.scat Sesiones Musicales
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/Efectos de Sonido")
                          img(src="/img/cat_scat/efects.png" alt="photoshop")
                          div.scat Efectos de Sonido
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/Mixing y Masterizacion")
                          img(src="/img/cat_scat/mixing.png" alt="photoshop")
                          div.scat Mixing y Masterizacion
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/Escritores de Canciones")
                          img(src="/img/cat_scat/escritor.png" alt="photoshop")
                          div.scat Escritores de Canciones
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/Productores y Compositore")
                          img(src="/img/cat_scat/productor.png" alt="photoshop")
                          div.scat Productores y Compositores
                          br
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/Transcripcion de Música")
                          img(src="/img/cat_scat/transmusic.png" alt="photoshop")
                          div.scat Transcripcion de Música
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/DJs")
                          img(src="/img/cat_scat/dj.png" alt="photoshop")
                          div.scat DJs
                          br
                          br
                  .submenu-items
                    ul
                      li
                        a(href="/categorias/Musica y Audio/Lecciones de Musica")
                          img(src="/img/cat_scat/leccionmus.png" alt="photoshop")
                          div.scat Lecciones de Musica
                          br
              li
                a(href="/categorias/Otros")
                  | Otros
                  i.fas.fa-caret-up
                .submenu
                  .submenu-items
                      ul
                        li
                          a(href="/categorias/Otros/Consultoria de Finanzas")
                            img(src="/img/cat_scat/finanzas.png" alt="photoshop")
                            div.scat Consultoria de Finanzas
                  