*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0b0729 !important;
}
.box{
  height: 733px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #060c21;
  border: 1px solid #000;
  width: 30%;
}
.box::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #FFF;
  z-index: -1;
  transform: skew(2deg,2deg);
}
.box:nth-child(1):before{
  background: linear-gradient(315deg, #ff0057, #e64a19);
}
.container{
  width: 100%;
  height: 733px;
  padding: 20px;
  background: #292929;
}
.container h2{
  width: 100%;
  color: #0ccc;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.container .row100{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  margin-top: 18px;
}
.container .row100 .col{
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.container .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #ccc;
}
.container .row100 .inputBox input{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #cccc;
}
.container .row100 .inputBox .text{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

#form.valid .row100 .col .email::before{
  content: '';
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  background: url(../css/icons/valid.png);
  background-size: cover;
  z-index: 1000;
}

#form.valid .row100 .col .email::before{
  content: '';
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  background: url(../css/icons/invalid.png);
  background-size: cover;
  z-index: 1000;
}
#text{
  display: block;
  color: #000;
  font-weight: 300;
  font-style: italic;
  padding: 5px;
  padding-top: 50px;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text{
  top: -35px;
  left: -10px;
}
.container .row100 .inputBox .line{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #3a3a3a;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line{
  height: 100%;
}
button.botonrg{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #3a3a3a;
  color: #ccc;
  font-size: 18px;
  border-radius: 2px;
}

input[type="submit"]{
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #3a3a3a;
  color: #ccc;
  font-size: 18px;
  border-radius: 2px;
}
.error{
    background-color: #E74F4F;
    position: absolute;
    top: 0;
    padding: 10px 0 ;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}
.correcto{
    background-color: #00ff00;
    position: absolute;
    top: 0;
    padding: 10px 0 ;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}
#toggle{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url(/img/icons/ojo.png);
  background-size: cover;
  cursor: pointer;
  z-index: 1000;
}
#toggle.hide{
  background: url(/img/icons/esconder.png);
  background-size: cover;
  z-index: 1000;
}